// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0274f3;
$secondary: #d9d9d9;
$accent: #21ba45;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #ffffff;
$negative: #0b1727;

$info: #f2c037;
$warning: #ff0000;
